h1,
h2 {
  font-family: "Fira Sans", sans-serif;
}
.resultatClassement {
  margin: 3% 0;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  gap: 2vh;
}
.resultatClassement h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin: 0 5%;
  text-align: center;
}
.resultatClassement form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1vh;
}
.resultatClassement form label {
  margin-bottom: 10px;
  font-weight: bold;
  color: #232323;
}
.resultatClassement form select {
  padding: 8px;
  margin-bottom: 10px;
  border: 1px solid #D9D9D9;
  border-radius: 4px;
  font-size: 16px;
  width: 100%;
  max-width: 300px;
}
.resultatClassement form button {
  background-color: #D6C278;
  color: #232323;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  align-self: center;
}
.resultatClassement form button:hover {
  background-color: #cab051;
}
.classementTable h2 {
  margin-left: 20px;
}
.classementTable .table-container {
  width: 100%;
  overflow-x: auto;
  padding: 10px 20px;
  margin: 0 auto;
}
.classementTable .table-container table {
  width: 100%;
  border-collapse: collapse;
  background-color: #f5f5f5;
  border-radius: 8px;
  overflow: hidden;
}
.classementTable .table-container table thead {
  background-color: #232323;
  color: #f5f5f5;
  text-align: left;
}
.classementTable .table-container table thead th {
  padding: 12px;
  border-bottom: 2px solid #D9D9D9;
  font-weight: bold;
}
.classementTable .table-container table tbody tr:nth-child(odd) {
  background-color: #D9D9D9;
}
.classementTable .table-container table tbody tr:nth-child(even) {
  background-color: #f5f5f5;
}
.classementTable .table-container table tbody tr td {
  padding: 12px;
  border-bottom: 1px solid #D9D9D9;
  vertical-align: middle;
}
.classementTable .table-container table tbody tr td img {
  display: inline-block;
  vertical-align: middle;
  margin-right: 8px;
  height: 20px;
  width: 30px;
}
.classementTable .table-container table tfoot tr td {
  border-bottom: none;
}
@media only screen and (min-width: 768px) {
  .resultatClassement h1 {
    font-size: 2rem;
  }
}
@media only screen and (min-width: 1024px) {
  .resultatClassement h1 {
    font-size: 2.1rem;
  }
}
@media only screen and (min-width: 1440px) {
  .resultatClassement h1 {
    font-size: 2.5rem;
  }
}
