* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --darkGrey: #232323;
  --grey: #D9D9D9;
  --white: #f5f5f5;
  --gold: #D6C278;
}
p {
  font-family: "Inter", sans-serif;
}
h1,
h2,
h3,
h4 {
  font-family: "Fira Sans", sans-serif;
}
.hero {
  height: 45vh;
}
.hero img {
  width: 100%;
  height: 45vh;
  position: absolute;
}
.hero div {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 45VH;
}
.hero div h1 {
  color: var(--gold);
  font-size: 1.8rem;
  margin: 10%;
  padding-top: 5%;
  z-index: 1;
  text-align: center;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
  font-weight: bold;
}
.actualitesTel {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 7%;
}
.actualitesTel > div:nth-of-type(1) {
  padding-top: 10%;
  padding-bottom: 10%;
}
.actualitesTel > div:nth-of-type(1) h2 {
  font-size: 1.4rem;
}
.actualitesTel > div:nth-of-type(1) h2 span {
  color: #D6C278;
}
.actualitesTel .actuRow {
  display: flex;
  cursor: pointer;
  width: 100%;
}
.actualitesTel .actuRow .actu {
  display: flex;
  flex-direction: column;
  gap: 1vh;
  flex: 1 1 60%;
}
.actualitesTel .actuRow .actu h3 {
  color: #D6C278;
  font-size: 1rem;
  text-align: left;
}
.actualitesTel .actuRow .actu p {
  font-size: 0.8rem;
  padding-bottom: 10%;
}
.actualitesTel .actuRow .imageInfo {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-bottom: 10%;
  flex: 1 1 40%;
}
.actualitesTel .actuRow .imageInfo img {
  width: 80px;
  min-width: 80px;
}
.actualitesPc {
  display: none;
}
.histoire {
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
  padding: 0 5%;
}
.histoire > :first-child {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.histoire > :first-child h2 {
  padding-top: 10%;
  padding-bottom: 10%;
  font-size: 1.4rem;
}
.histoire > :first-child h2 span {
  color: #D6C278;
}
.histoire > :first-child p {
  font-size: 0.9rem;
  line-height: 20px;
}
.histoire > :last-child {
  display: flex;
  justify-content: center;
  padding: 5%;
}
.histoire > :last-child img {
  width: 250px;
}
.containerEpreuves {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  background-color: var(--darkGrey);
  padding: 10% 5%;
  gap: 3vh;
}
.containerEpreuves > div:nth-child(1) {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.containerEpreuves > div:nth-child(1) h2 {
  color: var(--gold);
  text-transform: uppercase;
  font-size: 1.4rem;
}
.containerEpreuves .box {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  transition: height 0.5s;
  overflow: hidden;
  border-radius: 5px;
}
.containerEpreuves .box .imgBox {
  width: 100%;
  height: 100%;
  transition: opacity 0.5s;
  overflow: hidden;
}
.containerEpreuves .box .imgBox img {
  width: 100%;
  height: 100%;
  opacity: 0.7;
  transition: opacity 0.5s;
  transition: transform 0.3s ease;
  object-fit: cover;
}
.containerEpreuves .box .imgBox:hover img {
  opacity: 1;
  transform: scale(1.1);
  padding-bottom: 2vh;
}
.containerEpreuves .box .content {
  width: 100%;
  max-height: 0;
  overflow: hidden;
  background: rgba(0, 0, 0, 0.4);
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: max-height 1s, opacity 0.5s;
  margin: 0 5%;
}
.containerEpreuves .box .content p {
  font-size: 0.9rem;
  color: white;
  margin: 10px;
}
.containerEpreuves .box:hover .content {
  max-height: 500px;
  opacity: 1;
  margin: 0 5%;
}
.derouleEpreuves {
  display: flex;
  flex-direction: column;
  padding: 5%;
  margin: 2% 0;
  gap: 2vh;
}
.derouleEpreuves h2 {
  color: var(--darkGrey);
  font-size: 1.4rem;
  text-align: center;
  text-transform: uppercase;
}
.derouleEpreuves h2 span {
  color: var(--gold);
}
.derouleEpreuves p {
  font-size: 0.8rem;
  line-height: 20px;
}
.transitionImage {
  overflow: hidden;
  height: auto;
}
.transitionImage .imgTransition img {
  height: 150px;
  width: 100%;
}
.billetterie {
  display: flex;
  flex-direction: column;
  padding: 5%;
  overflow: hidden;
}
.billetterie > div:nth-child(1) {
  display: flex;
  justify-content: center;
}
.billetterie > div:nth-child(1) h2 {
  margin: 10% 0 15% 0;
  font-size: 1.4rem;
}
.billetterie > div:nth-child(1) h2 span {
  color: var(--gold);
}
.billetterie .allCard {
  display: flex;
  overflow: auto;
  padding-bottom: 5%;
}
.billetterie .allCard .card {
  margin: 0 10%;
  display: flex;
  flex-direction: column;
}
.billetterie .allCard .card .titre-card {
  background-color: var(--darkGrey);
  display: flex;
  width: 70vw;
  justify-content: center;
  align-items: center;
  height: 7.5vh;
  border-radius: 10px 10px 0 0;
}
.billetterie .allCard .card .titre-card h3 {
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-size: 1rem;
}
.billetterie .allCard .card .body-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--grey);
  padding: 10% 5%;
  gap: 3vh;
  border-radius: 0 0 10px 10px;
  width: 70vw;
  font-size: 0.9rem;
}
.billetterie .allCard .card .date p {
  text-align: center;
}
.billetterie .allCard .card .lieu {
  display: flex;
  justify-content: center;
  align-items: center;
}
.billetterie .allCard .card .lieu p {
  text-align: center;
}
.billetterie .allCard .card .oposition {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 1VH;
}
.billetterie .allCard .card .oposition h4 {
  font-style: italic;
  font-weight: 500;
  font-size: 1.3rem;
  text-transform: uppercase;
}
.billetterie .allCard .card .oposition img {
  width: 70vw;
}
.billetterie .allCard .card .oposition h3 {
  height: auto;
}
.billetterie .allCard .card .bouton-reservation {
  width: 65%;
  height: 5vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--gold);
  border-radius: 25px;
  box-shadow: 1px 3px 5px white;
}
.billetterie .allCard .card .bouton-reservation p {
  font-weight: bold;
}
.billetterie .allCard .card .bouton-reservation:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.billetterie ::-webkit-scrollbar {
  display: none;
}
.redirectionClassement {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10% 0;
}
.redirectionClassement div {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 200px;
  height: 50px;
  background-color: var(--darkGrey);
  border-radius: 25px;
  transition: background-color 0.3s;
  box-shadow: 1px 3px 5px #383838;
}
.redirectionClassement div a {
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--gold);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 500;
  width: 100%;
  height: 100%;
}
.redirectionClassement div:hover {
  box-shadow: 0 0 0;
  transform: scale(1.1);
  transition: transform 0.3s ease;
}
.cookie-popup {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.cookie-popup {
  position: fixed;
  bottom: 20px;
  left: 20px;
  right: 20px;
  background-color: rgba(0, 0, 0, 0.9);
  color: white;
  padding: 15px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}
.cookie-popup p {
  margin: 0;
  flex-grow: 1;
}
.cookie-popup .cookie-buttons {
  display: flex;
  gap: 10px;
}
.cookie-popup .cookie-buttons button {
  background-color: #D6C278;
  border: none;
  padding: 8px 15px;
  color: black;
  font-weight: bold;
  cursor: pointer;
  border-radius: 3px;
}
.cookie-popup .cookie-buttons button:hover {
  background-color: #bfa868;
}
@media only screen and (min-width: 375px) {
  .hero {
    height: 55vh;
  }
  .hero img {
    height: 55vh;
  }
  .hero div {
    height: 55vh;
  }
  .hero div h1 {
    font-size: 2.2rem;
  }
  .actualitesTel {
    margin: 0 10%;
  }
  .actualitesTel .actuRow .imageInfo img {
    width: 100px;
  }
  .transitionImage .imgTransition img {
    height: 150px;
  }
}
@media only screen and (min-width: 425px) {
  .hero {
    height: 65vh;
  }
  .hero img {
    height: 65vh;
  }
  .hero div {
    height: 65vh;
  }
  .hero div h1 {
    font-size: 2.3rem;
  }
  .actualitesTel {
    margin: 0 10%;
  }
  .actualitesTel > div:nth-of-type(1) h2 {
    font-size: 1.5rem;
  }
  .actualitesTel .actuRow .actu h3 {
    font-size: 1.1rem;
  }
  .actualitesTel .actuRow .actu p {
    font-size: 0.9rem;
  }
  .actualitesTel .actuRow .imageInfo img {
    width: 115px;
  }
  .histoire > :first-child h2 {
    font-size: 1.5rem;
  }
  .histoire > :last-child img {
    width: 275px;
  }
  .containerEpreuves > div:nth-child(1) h2 {
    font-size: 1.5rem;
  }
  .derouleEpreuves h2 {
    font-size: 1.5rem;
  }
  .derouleEpreuves p {
    font-size: 0.9rem;
  }
  .transitionImage .imgTransition img {
    height: 180px;
  }
  .billetterie > div:nth-child(1) h2 {
    font-size: 1.5rem;
  }
  .billetterie .allCard .card .body-card {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 768px) {
  .hero {
    height: 80vh;
  }
  .hero img {
    height: 80vh;
  }
  .hero div {
    height: 80vh;
  }
  .hero div h1 {
    font-size: 4.2rem;
  }
  .actualitesTel {
    margin: 0 10%;
  }
  .actualitesTel > div:nth-of-type(1) h2 {
    font-size: 2rem;
  }
  .actualitesTel .actuRow .actu h3 {
    font-size: 1.5rem;
  }
  .actualitesTel .actuRow .actu p {
    font-size: 1.3rem;
  }
  .actualitesTel .actuRow .imageInfo img {
    width: 200px;
  }
  .histoire {
    padding: 0 10%;
  }
  .histoire > :first-child h2 {
    font-size: 2rem;
    padding: 5% 0;
  }
  .histoire > :first-child p {
    font-size: 1.3rem;
    line-height: 28px;
  }
  .histoire > :last-child img {
    width: 400px;
  }
  .containerEpreuves {
    padding: 5%;
  }
  .containerEpreuves > div:nth-child(1) {
    width: 100%;
    padding-bottom: 5%;
  }
  .containerEpreuves > div:nth-child(1) h2 {
    font-size: 2rem;
  }
  .containerEpreuves .box {
    max-width: 40vw;
  }
  .containerEpreuves .box .content p {
    font-size: 1rem;
  }
  .containerEpreuves .box:hover .content {
    max-height: 500px;
  }
  .derouleEpreuves {
    padding: 5% 10%;
  }
  .derouleEpreuves h2 {
    font-size: 2rem;
  }
  .derouleEpreuves p {
    font-size: 1.3rem;
    line-height: 28px;
  }
  .transitionImage .imgTransition img {
    height: 250px;
  }
  .billetterie {
    padding: 5% 7.5% 3% 7.5%;
  }
  .billetterie > div:nth-child(1) h2 {
    margin: 3% 0 15% 0;
    font-size: 2rem;
  }
  .billetterie .allCard {
    gap: 10vw;
    padding-bottom: 5%;
  }
  .billetterie .allCard .card {
    margin: 0 0;
  }
  .billetterie .allCard .card .titre-card {
    width: 50vw;
  }
  .billetterie .allCard .card .titre-card h3 {
    font-size: 1.2rem;
  }
  .billetterie .allCard .card .body-card {
    padding: 10% 0 10% 0;
    width: 50vw;
    font-size: 1.2rem;
    gap: 4vh;
  }
  .billetterie .allCard .card .oposition {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 2VH;
  }
  .billetterie .allCard .card .oposition h4 {
    font-style: italic;
    font-weight: 500;
    font-size: 1.3rem;
    text-transform: uppercase;
  }
  .billetterie .allCard .card .oposition img {
    width: 50vw;
  }
  .billetterie .allCard .card .bouton-reservation {
    width: 50%;
  }
  .redirectionClassement {
    margin: 5% 0 10% 0;
  }
}
@media only screen and (min-width: 1024px) {
  .hero {
    height: 90vh;
  }
  .hero img {
    height: 90vh;
  }
  .hero div {
    height: 90vh;
  }
  .hero div h1 {
    font-size: 5.5rem;
  }
  .actualitesTel {
    display: none;
  }
  .actualitesPc {
    display: flex;
    flex-direction: column;
    margin: 0 5%;
  }
  .actualitesPc h3 {
    color: var(--gold);
    z-index: 2;
    position: relative;
    font-size: 1.5rem;
    margin: 0 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-weight: bold;
  }
  .actualitesPc p {
    z-index: 2;
    position: relative;
    padding-bottom: 15px;
    color: white;
    font-size: 1rem;
    margin: 0 25px;
    text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
    font-weight: 500;
  }
  .actualitesPc > div:nth-of-type(1) {
    padding: 5% 0;
  }
  .actualitesPc > div:nth-of-type(1) h2 {
    font-size: 2rem;
  }
  .actualitesPc > div:nth-of-type(1) h2 span {
    color: #D6C278;
  }
  .actualitesPc .rowInfo,
  .actualitesPc .rowInfo2 {
    display: flex;
    gap: 2%;
    height: 250px;
    padding-bottom: 2%;
  }
  .actualitesPc .rowInfo > div,
  .actualitesPc .rowInfo2 > div {
    background-size: cover;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    gap: 4%;
    cursor: pointer;
    transition: transform 0.3s ease, background-size 0.3s ease;
  }
  .actualitesPc .rowInfo > div:hover,
  .actualitesPc .rowInfo2 > div:hover {
    transform: scale(1.03);
  }
  .actualitesPc .rowInfo > div::before,
  .actualitesPc .rowInfo2 > div::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;
  }
  .actualitesPc .rowInfo > div:nth-child(1),
  .actualitesPc .rowInfo2 > div:nth-child(1) {
    background-image: url('/public/images/info1.png');
    background-position-y: 80%;
    flex: 1 1 69%;
  }
  .actualitesPc .rowInfo > div:nth-child(2),
  .actualitesPc .rowInfo2 > div:nth-child(2) {
    flex: 1 1 29%;
    background-image: url('/public/images/actu2.png');
    background-position-x: 45%;
  }
  .actualitesPc .rowInfo2 > div:nth-child(1) {
    background-image: url('/public/images/info3.png');
    flex: 1 1 29%;
  }
  .actualitesPc .rowInfo2 > div:nth-child(2) {
    flex: 1 1 69%;
    background-image: url('/public/images/info4.png');
    background-position-x: 45%;
    background-position-y: 40%;
  }
  .histoire {
    margin-top: 5%;
    padding: 0 5% 5% 5%;
    flex-direction: row;
  }
  .histoire > :first-child {
    display: flex;
    align-items: flex-start;
  }
  .histoire > :last-child img {
    width: 400px;
  }
  .containerEpreuves {
    padding: 5%;
  }
  .containerEpreuves > div:nth-child(1) {
    width: 100%;
    padding-bottom: 5%;
  }
  .containerEpreuves > div:nth-child(1) h2 {
    font-size: 1.8rem;
  }
  .containerEpreuves .box {
    max-width: 40vw;
  }
  .containerEpreuves .box .imgBox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
  }
  .containerEpreuves .box .content p {
    font-size: 1rem;
  }
  .containerEpreuves .box:hover .content {
    max-height: 500px;
  }
  .containerEpreuves .box #equitationBox img {
    height: 35vh;
  }
  .derouleEpreuves {
    gap: 4vh;
    padding: 5% 7.5%;
  }
  .transitionImage .imgTransition img {
    height: 350px;
  }
  .billetterie {
    padding: 5% 7.5% 3% 7.5%;
  }
  .billetterie > div:nth-child(1) h2 {
    margin: 3% 0 15% 0;
    font-size: 2rem;
  }
  .billetterie .allCard {
    gap: 7vw;
    padding-bottom: 5%;
  }
  .billetterie .allCard .card {
    margin: 0 0;
  }
  .billetterie .allCard .card .titre-card {
    width: 35vw;
  }
  .billetterie .allCard .card .titre-card h3 {
    font-size: 1.2rem;
  }
  .billetterie .allCard .card .body-card {
    padding: 10% 0 10% 0;
    width: 35vw;
    font-size: 1.2rem;
    gap: 4vh;
  }
  .billetterie .allCard .card .oposition {
    gap: 2VH;
  }
  .billetterie .allCard .card .oposition h4 {
    font-size: 1.3rem;
  }
  .billetterie .allCard .card .oposition img {
    width: 35vw;
  }
  .billetterie .allCard .card .bouton-reservation {
    width: 50%;
  }
  .redirectionClassement {
    margin: 5% 0 10% 0;
  }
  .redirectionClassement div {
    width: 275px;
    height: 60px;
    border-radius: 30px;
  }
  .redirectionClassement div a {
    font-size: 1.2rem;
  }
}
@media only screen and (min-width: 1440px) {
  .hero {
    height: 100vh;
  }
  .hero img {
    height: 100vh;
  }
  .hero div {
    height: 100vh;
  }
  .hero div h1 {
    width: 60%;
    font-size: 6rem;
    padding-top: 7.5%;
    letter-spacing: 5px;
  }
  .actualitesPc > div:nth-of-type(1) h2 {
    font-size: 2.5rem;
  }
  .actualitesPc .rowInfo {
    height: 300px;
  }
  .actualitesPc .rowInfo > div:nth-child(1) {
    background-position-y: 50%;
  }
  .actualitesPc .rowInfo2 {
    height: 300px;
  }
  .histoire {
    margin-top: 5%;
    padding: 0 5% 5% 5%;
    flex-direction: row;
  }
  .histoire > :first-child {
    display: flex;
    align-items: flex-start;
  }
  .histoire > :first-child h2 {
    font-size: 2.5rem;
  }
  .histoire > :first-child p {
    font-size: 1.5rem;
    line-height: 34px;
  }
  .histoire > :last-child img {
    width: 400px;
  }
  .containerEpreuves {
    padding: 3% 0 7.5% 0;
  }
  .containerEpreuves > div:nth-child(1) {
    width: 100%;
    padding-bottom: 2%;
  }
  .containerEpreuves > div:nth-child(1) h2 {
    font-size: 2.5rem;
  }
  .containerEpreuves .box {
    max-width: 40vw;
  }
  .containerEpreuves .box .imgBox {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    position: relative;
  }
  .containerEpreuves .box .imgBox img {
    height: 35vh;
    object-fit: cover;
  }
  .containerEpreuves .box .content p {
    font-size: 1.5rem;
  }
  .containerEpreuves .box:hover .content {
    max-height: 500px;
  }
  .containerEpreuves .box #equitationBox img {
    object-position: top;
  }
  .containerEpreuves .box #boxLaser img {
    object-position: bottom;
  }
  .derouleEpreuves {
    padding: 5% 10%;
  }
  .derouleEpreuves h2 {
    font-size: 2.5rem;
    text-align: left;
  }
  .derouleEpreuves p {
    font-size: 1.5rem;
    line-height: 34px;
  }
  .transitionImage .imgTransition img {
    height: 550px;
  }
  .billetterie {
    padding: 5% 7.5% 0 7.5%;
  }
  .billetterie > div:nth-child(1) h2 {
    margin: 3% 0 7.5% 0;
    font-size: 2.5rem;
    text-align: left;
    width: 100%;
  }
  .billetterie .allCard {
    gap: 3vw;
  }
  .billetterie .allCard .card .titre-card {
    width: 25vw;
  }
  .billetterie .allCard .card .body-card {
    padding: 10% 0 10% 0;
    width: 25vw;
    gap: 4vh;
  }
  .billetterie .allCard .card .oposition {
    gap: 3VH;
  }
  .billetterie .allCard .card .oposition h4 {
    font-size: 1.5rem;
  }
  .billetterie .allCard .card .oposition img {
    width: 25vw;
  }
}
