* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
:root {
  --darkGrey: #232323;
  --grey: #D9D9D9;
  --white: #f5f5f5;
  --gold: #D6C278;
  font-family: "Inter", sans-serif;
  font-family: "M PLUS 1p", sans-serif;
}
header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
}
header .navPc {
  display: none;
}
header .navTel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1% 5% 0 5%;
}
header .navTel .burger {
  display: flex;
  flex-direction: column;
  gap: 3px;
  width: 1.2rem;
  cursor: pointer;
  z-index: 999;
}
header .navTel .burger span {
  display: block;
  height: 3px;
  width: 100%;
  background: white;
  border-radius: 2px;
  transition: all 0.3s;
}
header .navTel .burger.open span:nth-child(1) {
  transform: rotate(-45deg) translate(-5px, 5px);
}
header .navTel .burger.open span:nth-child(2) {
  opacity: 0;
}
header .navTel .burger.open span:nth-child(3) {
  transform: rotate(45deg) translate(-5px, -5px);
}
header .navTel .menu {
  display: none;
  position: absolute;
  top: 0%;
  left: 0;
  right: 0;
  background-color: rgba(37, 35, 36, 0.9);
  padding: 1rem 0;
  z-index: 998;
  width: 100%;
  height: 100vh;
}
header .navTel .menu.open {
  display: flex;
  flex-direction: column;
  padding: 15% 5%;
}
header .navTel .menu a {
  color: var(--grey);
  text-decoration: none;
  margin: 0.5rem 0;
  opacity: 0;
  transform: translateY(-50px);
  transition: opacity 0.5s, transform 0.5s;
}
header .navTel .menu a::before,
header .navTel .menu a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0%;
  height: 2px;
  background-color: var(--gold);
  transition: width 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
header .navTel .menu a::after {
  left: auto;
  right: 0;
  background-color: var(--gold);
}
header .navTel .menu a:hover::before,
header .navTel .menu a:hover::after {
  /* Longueur du soulignement à 100% */
  width: 100%;
}
header .navTel .logoJo {
  width: 15%;
  padding-top: 2%;
}
header .navTel .profil {
  width: 5%;
  font-size: 1rem;
  cursor: pointer;
  padding-top: 1%;
}
footer {
  display: flex;
  flex-direction: column;
  background-color: var(--grey);
}
footer > div:first-of-type {
  display: flex;
  justify-content: center;
  width: 100%;
  position: relative;
}
footer > div:first-of-type img {
  position: absolute;
  top: -25px;
  width: 40px;
}
footer .containerLinksReseaux {
  display: flex;
  flex-direction: column;
  gap: 2vh;
  align-items: center;
}
footer .containerLinksReseaux .footerLinks {
  display: flex;
  flex-direction: column;
  gap: 2vh;
}
footer .containerLinksReseaux .footerLinks h4 {
  color: #D6C278;
  padding-top: 2vh;
  margin-left: -6%;
}
footer .containerLinksReseaux .footerLinks div:nth-of-type(1) {
  display: flex;
  gap: 3%;
  justify-content: flex-start;
  margin-left: -6%;
}
footer .containerLinksReseaux .footerLinks div:nth-of-type(1) a {
  font-size: 0.6rem;
}
footer .containerLinksReseaux .reseaux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 2vh;
  width: 80%;
}
footer .containerLinksReseaux .reseaux h2 {
  text-align: center;
  font-size: 1.2rem;
  border-top: 1px solid black;
}
footer .containerLinksReseaux .reseaux .mesReseaux {
  display: flex;
  justify-content: space-evenly;
  border-bottom: 1px solid black;
}
footer .containerLinksReseaux .reseaux .mesReseaux a img {
  width: 40px;
  height: auto;
}
footer .royalties {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 5%;
  font-size: 0.7rem;
  margin: 0 5%;
}
footer .royalties p {
  padding-bottom: 2vh;
  padding-top: 2vh;
}
footer .royalties a {
  padding-bottom: 2vh;
}
@media only screen and (min-width: 375px) {
  header .navTel .burger {
    gap: 4px;
    width: 1.3rem;
  }
  header .navTel .menu a {
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0.5rem 0;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.5s;
  }
  header .navTel .profil {
    width: 5%;
    font-size: 1.1rem;
    cursor: pointer;
    padding-top: 1.5%;
  }
  footer > div:first-of-type img {
    top: -26px;
    width: 45px;
  }
  footer .containerLinksReseaux .footerLinks div:nth-of-type(1) a {
    font-size: 0.7rem;
  }
  footer .royalties {
    font-size: 0.8rem;
  }
}
@media only screen and (min-width: 425px) {
  header .navTel .burger {
    gap: 4px;
    width: 1.4rem;
  }
  header .navTel .menu a {
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0.5rem 0;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.5s;
  }
  header .navTel .profil {
    width: 5%;
    font-size: 1.25rem;
    cursor: pointer;
    padding-top: 1.8%;
  }
  footer > div:first-of-type img {
    top: -30px;
    width: 50px;
  }
  footer .containerLinksReseaux .footerLinks {
    display: flex;
    flex-direction: column;
    gap: 2vh;
    margin: 0 5%;
  }
  footer .containerLinksReseaux .footerLinks h4 {
    color: #D6C278;
    padding-top: 2vh;
  }
  footer .containerLinksReseaux .footerLinks div:nth-of-type(1) {
    display: flex;
    gap: 3%;
    justify-content: flex-start;
  }
  footer .containerLinksReseaux .footerLinks div:nth-of-type(1) a {
    font-size: 0.8rem;
  }
  footer .royalties {
    font-size: 0.9rem;
  }
}
@media only screen and (min-width: 768px) {
  header .navTel .burger {
    gap: 5px;
    width: 2rem;
  }
  header .navTel .burger span {
    height: 5px;
  }
  header .navTel .menu a {
    text-decoration: none;
    font-size: 1.3rem;
    margin: 0.5rem 0;
    opacity: 0;
    transform: translateY(-50px);
    transition: opacity 0.5s, transform 0.5s;
  }
  header .navTel .profil {
    width: 5%;
    font-size: 1.7rem;
    cursor: pointer;
    padding-top: 0;
  }
  footer {
    display: flex;
    flex-direction: column;
  }
  footer > div:first-of-type img {
    position: absolute;
    top: -50px;
    width: 80px;
  }
  footer .containerLinksReseaux {
    display: flex;
    flex-direction: row;
    border-bottom: 1PX solid black;
    gap: 0px;
    justify-content: space-around;
    align-items: center;
    height: 25vh;
  }
  footer .containerLinksReseaux .footerLinks div:nth-of-type(1) {
    flex-direction: column;
    gap: 8px;
    justify-content: space-between;
  }
  footer .containerLinksReseaux .footerLinks div:nth-of-type(1) a {
    font-size: 0.8rem;
  }
  footer .containerLinksReseaux .reseaux {
    width: auto;
  }
  footer .containerLinksReseaux .reseaux h2 {
    font-size: 1.3rem;
    border-top: 1px solid black;
    padding-top: 1.5vh;
  }
  footer .containerLinksReseaux .reseaux .mesReseaux {
    border-bottom: 1px solid black;
    padding-bottom: 1vh;
  }
  footer .royalties {
    font-size: 0.8rem;
    margin: 0 5%;
  }
  footer .royalties p,
  footer .royalties a {
    padding-bottom: 2vh;
    padding-top: 2vh;
  }
}
@media only screen and (min-width: 1024px) {
  header {
    position: absolute;
    top: 0px;
    z-index: 999;
  }
  header .navTel {
    display: none;
  }
  header .navPc {
    display: flex;
    justify-content: space-around;
  }
  header .navPc .logoJo {
    width: 12%;
    padding-top: 1.2%;
  }
  header .navPc .GroupeLeft,
  header .navPc .GroupeRight {
    display: flex;
    gap: 10%;
    padding-top: 1.5%;
  }
  header .navPc a {
    text-decoration: none;
    color: var(--darkGrey);
    font-weight: bold;
    background-color: var(--white);
    border-radius: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1rem;
    padding: 1rem;
    width: 17vw;
    height: 4vh;
  }
  footer > div:first-of-type img {
    position: absolute;
    top: -62px;
    width: 100px;
  }
  footer .containerLinksReseaux .footerLinks h4 {
    font-size: 1.4rem;
  }
  footer .containerLinksReseaux .footerLinks div:nth-of-type(1) a {
    font-size: 0.9rem;
  }
  footer .containerLinksReseaux .reseaux h2 {
    font-size: 1.5rem;
  }
  footer .containerLinksReseaux .reseaux .mesReseaux a img {
    width: 50px;
  }
  footer .royalties {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1440px) {
  header .navTel {
    display: none;
  }
  header .navPc a {
    font-size: 1.2rem;
  }
  footer > div:first-of-type img {
    position: absolute;
    top: -80px;
    width: 130px;
  }
  footer .containerLinksReseaux {
    height: 30vh;
  }
  footer .containerLinksReseaux .footerLinks h4 {
    font-size: 1.4rem;
  }
  footer .containerLinksReseaux .footerLinks div:nth-of-type(1) a {
    font-size: 1.1rem;
  }
  footer .containerLinksReseaux .reseaux h2 {
    font-size: 1.5rem;
  }
  footer .containerLinksReseaux .reseaux .mesReseaux a img {
    width: 55px;
  }
  footer .royalties {
    font-size: 1.2rem;
  }
}
